<div class="app">
  <mat-toolbar>
    <button
      mat-icon-button
      (click)="drawer.toggle()"
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{ title }}</span>
    <span class="example-spacer"></span>
    @if (isLoggedIn) {
      <button mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    } @else {
      <button mat-icon-button (click)="login()">
        <mat-icon>login</mat-icon>
      </button>
    }
  </mat-toolbar>

  <mat-sidenav-container class="app-drawer">
    <mat-sidenav #drawer>
      <mat-nav-list>
        <a
          mat-list-item
          [routerLink]="['/dashboard']"
          title="Back to Dashboard"
          (click)="drawer.close()"
          ><mat-icon>home</mat-icon><span>Dashboard</span></a
        >
        <a
          mat-list-item
          [routerLink]="['/user/settings']"
          title="Navigate to the User Settings"
          (click)="drawer.close()"
          ><mat-icon>manage_accounts</mat-icon><span>User Settings</span></a
        >
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
