<mat-accordion multi="true">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>User Information</mat-panel-title>
    </mat-expansion-panel-header>
    @if (user | async; as user) {
      <p>OIDCUID: {{ user.oidc_uid }}</p>
      <p>Name: {{ user.name }}</p>
      <p>E-Mail: {{ user.email }}</p>
      <p>Role: {{  user.role }}</p>
    }
  </mat-expansion-panel>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>User Settings</mat-panel-title>
    </mat-expansion-panel-header>
    <p>Darkmode: {{ userSettings?.darkmode }}</p>
    <p>Statistics Database: {{ userSettings?.statistics_database }}</p>
    <p>Geocacher: {{ userSettings?.geocacher}}</p>
  </mat-expansion-panel>
</mat-accordion>
