/* You can add global styles to this file, and also import other style files */
html
  height: 100%

body
  height: 100%

.authenticating-loader
  display: flex
  align-items: center
  justify-content: center
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  font-size: 5rem
  background: #fff
  opacity: 0.8
  animation: pulsate 1.0s infinite alternate linear

@keyframes pulsate
  from
    opacity: 1.0
  to
    opacity: 0.2
